[submodule "litepcie"]
	path = litepcie
	url = https://github.com/enjoy-digital/litepcie
[submodule "litex"]
	path = litex
	url = https://github.com/enjoy-digital/litex
[submodule "cmake-kernel-module"]
	path = cmake-kernel-module
	url = https://gitlab.com/sergachev/cmake-kernel-module.git
